<% content_for :title, "Editing User" %>
<div class="container mt-3">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="mb-0">Edit user</h1>
    <%= link_to "Back to Users", users_path, class: "btn btn-secondary" %>
  </div>
  <div class="card shadow-sm p-4 mb-4">
    <%= render "form", user: @user %>
  </div>
</div>
