<div id="<%= dom_id response %>">
  <p>
    <strong>User:</strong>
    <%= response.user_id %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= response.review_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= response.comment %>
  </p>

</div>
