<% content_for :title, "Beds" %>
<div class="container mt-3">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="mb-0">Beds</h1>
    <%= link_to "Add New Bed", new_bed_path, class: "btn btn-success" %>
  </div>
  <table class="table table-striped table-hover shadow-sm">
    <thead class="table-light">
      <tr>
        <th>Name</th>
        <th>Capacity</th>
        <th>Associated Rooms</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @beds.each do |bed| %>
        <%= render bed %>
      <% end %>
    </tbody>
  </table>
</div>